[2018-10-05 06:20] xvaara opened #3 "A demo would be nice"
As the title says.

[2018-10-07 03:44] cutemonster commented on #3
exactly

[2018-10-09 10:05] sethsandaru commented on #3
Yeah, I'm doing it right now, Thanks :D

[2018-10-09 14:07] grabirg opened #4 "hook_list_factory.js Uncaught TypeError: _.pluck is not a function"
I just tried using this component but got this error while trying to add section.

HookList._getFunctions (hook_list_factory.js?5e0f:15)     at HookList.runSequence (hook_list_factory.js?5e0f:89)     at VueComponent.addSection (SectionComponent.vue?217d:82)     at invoker (vendor.js:2525)     at HTMLButtonElement.fn._withTask.fn._withTask (vendor.js:2324) _getFunctions @ hook_list_factory.js?5e0f:

[2018-10-09 17:08] sethsandaru commented on #3
You can find demo here, check it out!

Demo Online: http://vue-form-builder.sethphat.com
Demo Project: https://github.com/sethsandaru/demo-vue-form-builder

[2018-10-09 17:08] #3 closed

[2018-10-09 17:14] sethsandaru commented on #4
Hi grabirg, do you use lodash in your project? From my sight right now, I can only guess that you are using lodash instead of underscore (Form Builder will automatically load underscore if **window._** not available) and it's cost an error (your error)

It would be nice if you provide to me some of your code :D

[2018-10-09 18:48] digixweb opened #5 "Heads up on how to implement it?"
I am new to Vue.js, so I am afraid I am missing some crucial understanding here. But how do you reference and use the forms in my own app? I am only able to setup the template/gui interface. So I can generate forms, and it outputs also some vue form data. But how do I integrate these form in my own app?

[2018-10-15 14:10] VasylDmytruk opened #6 "Is it possible to extend your component to add more controls"
I would like to add new control "radio" (radio button). Also I would like to have possibility to change template of your controls, have possibility add label to input. Is it possible by extending (some how) your component?

[2018-10-24 04:10] sethsandaru commented on #5
Ah yeah. You need to know how the library works first.
- For Form Template, you will be able to create/config your own form. Set a variable for **v-model**. You will get a object of configurated form. And then you can save that object (parse to json string) into your DB.
- When you render Form GUI, get the configurated json string from your DB and then parse that string to object (JSON.parse), bin

[2018-10-24 04:12] sethsandaru commented on #6
Noted your problem :D, currently I don't have any port to add custom control.
I'll try to see if I got any solution for this one :D

[2018-11-11 06:48] tanhs opened #7 "TypeError: _.accessStr is not a function"
I am getting this error when I run the try this code
app.js:62950 TypeError: _.accessStr is not a function
    at Object.Hooks.push (hook_lists.js?fe07:38)
    at Object.ValidateSettingHandler.init (validate_setting_handler.js?572f:6)
    at VueComponent.created (FormBuilder.vue?cfcd:163)
    at callHook (app.js:64130)
    at VueComponent.Vue._init (app.js:65839)
    at new VueComponent (app.js:66

[2018-11-11 08:50] tanhs commented on #7
This is my package.json
[code]

[2018-11-16 13:34] #4 closed

[2018-12-15 10:14] sethsandaru commented on #6
I'll lock this issue, extend for more controls will be available in the next version :D

[2018-12-15 10:14] #6 closed

[2018-12-15 10:14] #5 closed

[2019-02-14 12:20] ranawatsuyash commented on #7
were you able resolve this issue?

[2019-02-22 16:06] sethsandaru commented on #7
No, I never got this issue/error. I'm always using it fine for every built.
This problem, I think somehow your code do something and cost my Vue Form Builder initialize function stop/not running before create the Form. I think I'm gonna close it at here. If in the future there are many people got this issue again. I'll open & resolve it. Thanks.

[2019-02-22 16:06] #7 closed

[2019-02-26 14:53] frck006 opened #9 "Why do you need JQuery ?"

[2019-03-01 11:23] sethsandaru commented on #9
Hi, basically I'm using the drag & drop functionality, and that's come from Jquery & Jquery UI.
Thanks.

[2019-03-01 11:23] #9 closed

[2019-04-12 17:57] mihirpatel83 opened #10 "Extensible Controls"
Is it possible to add more customized controls like Address which is a group of few html elements alone with controls like Rating control, Captcha, Email, URL etc ?
I can see it's written extensible but just wanted to make sure before I go ahead an use your component.

[2019-04-20 16:25] sethsandaru commented on #10
Yeah, the documentation is not finished yet. I'm still working on it.

[2019-05-10 08:55] travisbotello opened #11 "Function to remove controls"
Awesome work! One question:

How can I remove controls from a row? I can't find it. Thanks!

[2019-05-10 09:06] travisbotello opened #12 "Additional control: Text block"
A lot of our forms are using long introduction texts for a better explanation or long privacy terms for opt-ins. Here a text block control would be very handy.

[2019-05-16 15:05] sethsandaru commented on #11
Hi Travis,

You can remove the control out of the row by dragging them and drop into the sidebar, demo: https://github.com/sethsandaru/vue-form-builder/wiki/Form-Builder-Template---Form-Config

Thank you

[2019-05-16 15:05] #11 closed

[2019-05-16 15:09] sethsandaru commented on #12
Hi Travis,
I think you could do that by extending a new control for your case.
I didn't find the time to finish the document yet. Sorry about that.

[2019-05-16 15:09] #12 closed

[2019-06-08 02:21] srober12 opened #13 "Uncaught TypeError: Cannot set property 'TimePicker' of undefined"
Grabbed the latest version from NPM and when I try to load either of the dist scripts it throws the error in the title. I'm probably missing something obvious, but havent figured it out yet.

Vue.js v2.5.16
jQuery v3.3.1
jQuery UI - v1.12.1
Bootstrap v4.1.3

[code]
or

[code]

[2019-06-20 08:03] sethsandaru commented on #13
Hi there,

Currently the library cannot be able to imported directly by using script src thing. You have to create your own webpack project (with Vue) and build it to use. You can use **Vue Simple Project** to get started (easy and small)

For the `vue-form-builder.browser.min.js`, I'm still working on that.

Thank you!

[2019-06-20 08:03] #13 closed

[2019-06-22 18:59] Devin0231577 opened #15 "Jquery not loading"
TypeError: $(...).sortable is not a function

[2019-07-02 22:45] Muneera-Salah commented on #15
me too
![image](https://user-images.githubusercontent.com/3780724/60551524-32580400-9d34-11e9-85b4-5939644dbbf5.png)

[2019-08-21 18:15] chaitya1001 commented on #15
I am having same problem.

[2019-09-23 05:07] sethsandaru commented on #15
Hey guys,

My old-version demo is still working properly here: http://vue-form-builder.sethphat.com/#/template/config/.

Could you guys please give me a snippet of your code to check it out?

Thanks

[2019-10-07 16:54] V-Orbit commented on #15
we had this issue also

[2019-10-07 16:55] V-Orbit commented on #7
we also have this issue. how we can solve it?

[2019-10-11 09:24] Abouhassane opened #16 "Preview not showing when creating new form"
I try to preview the form i'm creating but the model shows empty!! however when editing an existing form the preview works fine!
As a side note, is there a way to preview the form outside of the component?

[2019-10-11 10:20] Abouhassane commented on #16
**Solved**: It seem you have to select a layout before being able to preview the form. I suggest adding some kind of warning/message to inform the user of such restriction.

Thanks for the awesome component :D

[2019-10-14 08:40] #16 closed

[2019-10-23 07:45] Abouhassane opened #19 "required not working on inputs other than text inputs"
Hi,

As the title dictates, required restriction does not work on the inputs except the text input.

Can you please verify wether this is an issues or i'm doing something wrong?

[2019-10-24 14:26] petargeorgiev123 commented on #10
gi @sethsandaru any news about the documentation about adding custom controls you promised? We are not finding a way to extend and add proper controls.
Will appreciate some help. Thanks.

[2019-10-26 08:50] sethsandaru commented on #10
Hello @petargeorgiev123 ,

Here is the page https://github.com/sethsandaru/vue-form-builder/wiki/Extend-a-new-Control, I probably forgot about this. Let me finish the page. In the meanwhile, you can read the concept to see how it works.

Thank you for reminding me. Sorry...

[2019-10-29 04:18] sethsandaru commented on #10
Hey guys,

Just let you know that I finished the documentation. Check it out. Thank you.

[2019-10-29 04:18] #10 closed

[2019-10-29 11:28] frizikk commented on #7
For me also occurred that problem.
In my application I use **lodash** and assign it to **window._**
and @sethsandaru [used](https://github.com/sethsandaru/vue-form-builder/blob/cf15a8416a23744369e5f8ac97920d56682864b7/src/config/loader.js#L31) **window._** to import lib **underscore**

[2019-10-30 16:16] frizikk opened #21 "Overwriting window._"
https://github.com/sethsandaru/vue-form-builder/blob/cf15a8416a23744369e5f8ac97920d56682864b7/src/config/loader.js#L31

I think this shouldn't be done like that. Many people use window._ for lodash or other libraries.
And if I import your package you overwrite my variable.

[2019-10-30 16:55] frizikk opened #22 "FontAwesome owerwriting"
In my current project I use FonAwesome loaded by css file.
When I install your package it overwrite my FontAwesome icons, and they stop showing.

![Zrzut ekranu z 2019-10-30 17-49-04](https://user-images.githubusercontent.com/4850809/67879960-22173080-fb3e-11e9-8eec-8c4a885d0216.png)

[2019-10-31 11:00] sethsandaru commented on #21
Hello @frizikk ,

Maybe I should describe more about the libraries that Vue-Form-Builder depend on.
My form using "underscore" as one of the main libraries. Right now if you do a fork and change to lodash it will break (probably).

I might to extend it to support the lodash later. For now is no. Sorry.

[2019-10-31 11:00] #21 closed

[2019-10-31 11:02] sethsandaru commented on #22
Hi @frizikk ,

For this problem. I think I need to create an `option` to define which FontAwesome that we want to use:

- FontAwesome imported in HTML (`<link ... />`)
- FontAwesome in Webpack

Noted. Will update it.

Thank you for reporting.

[2019-10-31 18:27] frizikk commented on #21
@sethsandaru

I had on my mind you should create your own namespace for underscore. (in example window.sethsandaru_underscore). To let people assign **window._**

[2019-10-31 20:36] eok8177 opened #23 "Can't built via npm run build-bundle"
When I build and use it my Vue project, get errors:

TypeError: $(...).sortable is not a function
TypeError: $(...).draggable is not a function

Work with files /dist/ only from repo

[2019-11-01 04:23] sethsandaru commented on #23
Hi @eok8177

Have you run "npm install" yet before "npm run build"?

Thank you

[2019-11-01 05:37] eok8177 commented on #23
Hi! Yes

![image](https://user-images.githubusercontent.com/8864590/68004407-103aa800-fc7a-11e9-9648-4963b325226c.png)
![image](https://user-images.githubusercontent.com/8864590/68004427-28122c00-fc7a-11e9-992b-d546b38adfc4.png)

node -v    v8.10.0
npm -v     6.12.1
"os":"linux","arch":"x64"

[2019-11-01 05:44] eok8177 commented on #23
if I run directly via index.html
![image](https://user-images.githubusercontent.com/8864590/68004763-6bb96580-fc7b-11e9-8322-5fbfc04a7e71.png)

get this error
![image](https://user-images.githubusercontent.com/8864590/68004732-56443b80-fc7b-11e9-80d7-576108e8bf61.png)

[2019-11-01 09:49] eok8177 commented on #23
Can You explain me, how use it in project folder.
Not in node_modules folder.
I want change some design and functional.

[2019-11-03 20:04] eok8177 commented on #23
Problem was:
when I run npm install in node_modules folder
I get this errors

Ok, only if copy builded library into folder node_modules

[2019-11-11 18:02] #23 closed

[2019-12-10 09:34] isikhi opened #24 "Why did you remove and did not add a props for stylesheet?"
Hi i wonder why you did not add stylesheet on props? I want to bind bootstrap on my local and that is a little bit buggy because my stylesheet scopes are diffrent

[2019-12-19 07:35] yoyoyosheep opened #25 "setValue() and v-model cannot change number control value"
How to repro:
1. set number control value by setValue or data binding with js code, for example 80, you will see that it shows 80
2. get number control value by getValue or data binding with js code, you will find the value is 0
3. change value on web page, for example +1, then get value again, now the result is right, 81
It's so strange that number control shows 80 at first since the value I can

[2020-01-26 13:08] bajki opened #26 "Translatable forms"
Hi, how to achieve to have same form with multiple languages?

If i create
`<form-builder type="gui"  :form="fields"   v-model="language.en"   ref="FormGUIEn" ></form-builder>`
`<form-builder type="gui"  :form="fields"   v-model="language.de"   ref="FormGUIDe" ></form-builder>
`
If i write in EN it updates DE model and vice versa.

I need translatable fields but dont know how to do it.

[2020-02-14 04:35] sethsandaru commented on #26
Hi @bajki ,

How about :

[code]

The translatable field/form is one of my biggest plans at the moment, including update again a whole project. Since I've already made a simple translatable field in my previous project here: https://github.com/sethsandaru/laravel-multilingual

[2020-03-23 10:16] onix-dev opened #27 "TextArea"
is it posible to configure textarea as saparate option? not just multiline checkbox...

[2020-03-25 16:32] jakeaston opened #28 "Minimal Demo"
Do you have any plans to add a minimal demo to allow easier porting to Node or other server enviroments?

Thanks

[2020-04-03 11:34] onix-dev commented on #22
the same issue... conflict with npm version of fontawesome

[2020-04-06 21:16] rachitpant opened #29 "_.deepExtend is not a function."
I decided to give this a try on my project. When I click preview , I get this error.
![image](https://user-images.githubusercontent.com/1474415/78605807-36b4ce80-782a-11ea-88af-d21e8002a12d.png)
I am getting this same error when I click section config. After this, I am not able to close the preview section , basically the screen becomes unresponsive.

[2020-04-06 21:57] rachitpant commented on #29
Not sure if this is happening because I am using lodash (_) in the application in other pages.

[2020-04-07 09:22] sethsandaru commented on #29
One of my dependencies is lodash which has `_.deepExtend` method. I think I'm gonna remove lodash out of my dependencies soon.

Thanks for reporting!

[2020-04-07 09:23] sethsandaru commented on #27
Hi friend,

Could you give me more details about your idea? I didn't understand/clear what you need/want.

Thanks

[2020-04-07 09:25] sethsandaru commented on #28
Hi friend,

Sure, but the main idea is simply to understand. You created a form and got the `JSON` configuration. Simply convert it to `JSON String` and then put it to the database.

Every time you want to use the form, retrieve the configuration from the database then parse the JSON String to Object and pass it to the Vue Form. :D

[2020-04-14 01:31] rachitpant commented on #29
I think over here you are trying to mixin the method using `underscoreDeepExtend`. Something else I want to point out is that its not a good idea to pollute global window namespace.

[2020-05-06 17:19] calazcano commented on #7
I have the same error using the "v-form-builder" version: "^ 1.4.1-rc2",

[2020-05-10 13:25] rockyfeller commented on #29
Please what is the way around this at the moment?

[2020-05-10 16:12] rachitpant commented on #29
I spent a lot of time trying to fix bugs , it wasnt worth the time, our
company decided to go with surveyjs.io when we tackle it. Its lot more
refined as has a lot more features.

On Sun, May 10, 2020 at 9:25 AM rockyfeller <notifications@github.com>
wrote:

[2020-05-13 08:58] sethsandaru commented on #29
Hey guys,

I'm very sorry about the inactivity of the library. I already made a plan to rebuild the Vue Form Builder again. Main reasons:

- The codebase is not clean enough (yes, more than 1 year already), even I feel bad and saw that it's hard to maintain
- A lot of dependencies, I need to reduce it, it made the form itself too heavy (2M)
- Prevent to export any unnecessary variables/functions a

[2020-05-13 08:58] #29 closed

[2020-05-13 08:58] #28 closed

[2020-05-13 08:58] #27 closed

[2020-05-13 08:59] sethsandaru commented on #15
Hey guys,

I'm very sorry about the inactivity of the library. I already made a plan to rebuild the Vue Form Builder again. Main reasons:

- The codebase is not clean enough (yes, more than 1 year already), even I feel bad and saw that it's hard to maintain
- A lot of dependencies, I need to reduce it, it made the form itself too heavy (2M)
- Prevent to export any unnecessary variables/functions a

[2020-05-13 08:59] #15 closed

[2020-06-18 13:28] onix-dev opened #32 "npm: 1.4.1-rc2"
Please push source of the latest version... I can't find any branch related to the version from npm...
The latest avalible source has conflict with bootstrap, dom... but looks like it's fixid in 1.4.1-rc2..
The source code in the npm package also out of date and build folder include a newer version.

[2020-07-02 11:57] thegoatherder opened #33 "Release date for v2.0?"
Fantastic work! Really loving the v2.0.0 it meets a lot of our requirements.
We might need to extend it to include more input validation options and perhaps we can help you in this area by submitting PRs?

We have a burning requirement to use v2.0 in a project, but am conscious that it's still undergoing regular change - do you have a release date scheduled, even if it's a ballpark? Is there much

[2020-07-02 13:08] thegoatherder opened #34 "Bootstrap read-only attributes in v2.x"
Any plans to implement boostrap `readonly` on form inputs:

https://getbootstrap.com/docs/4.0/components/forms/#readonly

In the form builder configuration, this could be represented as a checkbox.

[2020-07-02 13:12] thegoatherder opened #35 "input value from API in v2.x?"
In v2.x form builder, if I select a dropdown control type, I can choose
**Option-Data-List Mode: API**

There doesn't seem to be an option for this with a text input control type. Will the config object support this in v2.x?

My use case is to be able to load a value for an `<input>` from an API. Our users will open forms that may previously have been completed by another user - the form would the

[2020-07-08 13:51] sethsandaru commented on #33
Hello @thegoatherder ,

Yes sure, but I think let the v2.0.0 released first and then we can focus on more validations, features,...

Currently, Vue-Form-Builder v2.0.0 is in the testing phase, all the planned stuff is ready. I'm optimistic to release it on next week or even sooner :D

Thank you. Stay tuned.

[2020-07-08 13:59] sethsandaru commented on #34
Hello @thegoatherder ,

Yes, it's one of the features I would build for the v2.1.0 version. Basically, here is what I think about it:

- Read-only field will stay and will be writeable when some specific fields have inputted.
- Read-only and stay there to show up `aggregate - Math` based on the fields.
- Also - an API to disable/enable the Read-Only field.

So, later version is better instead of d

[2020-07-08 14:03] sethsandaru commented on #35
Hi @thegoatherder ,

If you could check the form out again: https://vue-form-builder.herokuapp.com/ . You can see there are 2 options:

- Normal: Fixed Text - Value list
- API: Retrieve from RestAPI

And sure, 100%, for the next thing you described. Simply change your `v-model` data, and then, done. As same as the version 1.x.x. That's what I/everybody am/are doing at the moment to view the form w

[2020-07-09 14:13] ronny35 opened #36 "TypeError: _.deepExtend is not a function"
Hello,

I have this issue (1.4.1-rc2) :
[code]

I checked with older version and the same error appears.

[2020-07-14 05:05] exiliensoft opened #37 "how we can add more controls"
Hello Sandaru,

you had done amazing work thanks for this awesome code.

When we can get more control into it?
How we can add custom control as we required.

Thanks

[2020-07-14 05:59] exiliensoft opened #38 "Vue-Form-Builder @ v2.0.0"
Where we can get this code repo?

Please reply ASAP.

[2020-07-16 05:39] sethsandaru commented on #38
It's in the branch v2.0.0 (https://github.com/sethsandaru/vue-form-builder/tree/v2.0.0). Under testing and fixing bugs.

[2020-07-16 05:39] #38 closed

[2020-07-16 05:40] sethsandaru commented on #37
I'm writing the documentation for it at the moment. Stay tuned.

[2020-07-19 08:16] liger800kg opened #40 "Error in callback for watcher "value": "TypeError: _.deepExtend is not a function""
Hi. I have this issue :
![1](https://user-images.githubusercontent.com/5830591/87870491-355e7a80-c9b1-11ea-9594-1d988ccec239.png)
Please help!

[2020-08-06 03:29] banunn commented on #40
Also having this issue. Is there a resolution yet?

[2020-08-12 12:19] abhimanusharma commented on #7
Why this issue is marked as closed? I have installed this package in an existing project and getting this error.
Release date of Version 2.0.0 has not been announced yet. CSS of this project not loading correctly. Documentation of version 1.4.x is incomplete and not user friendly for beginners.

[2020-08-13 06:57] abhimanusharma opened #42 "[Vue warn]: Error in created hook: "TypeError: _.accessStr is not a function" and Error in v-on handler: "TypeError: _.domUniqueID is not a function""
I am using this package on single component instead of global.
I am getting this  error on component load.

[code]

I see the following UI.
![form-builder-ui](https://user-images.githubusercontent.com/5707050/90103382-06dd8080-dd60-11ea-971b-3458b320336f.PNG)

When I click on Add section, I get below error.

[code]

[2020-08-15 04:01] sethsandaru commented on #42
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:01] #42 closed

[2020-08-15 04:01] sethsandaru commented on #40
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:01] #40 closed

[2020-08-15 04:01] sethsandaru commented on #37
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:01] #37 closed

[2020-08-15 04:02] sethsandaru commented on #19
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:02] #19 closed

[2020-08-15 04:02] sethsandaru commented on #22
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:02] #22 closed

[2020-08-15 04:02] sethsandaru commented on #33
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:02] #33 closed

[2020-08-15 04:02] sethsandaru commented on #25
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:02] #25 closed

[2020-08-15 04:02] sethsandaru commented on #26
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:02] #26 closed

[2020-08-15 04:02] sethsandaru commented on #32
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:02] #32 closed

[2020-08-15 04:03] sethsandaru commented on #36
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:03] #36 closed

[2020-08-15 04:03] sethsandaru commented on #24
Hi friend,

Vue-Form-Builder@2.0.0 has been released. Check it out.

P/s: I closed this issue because it's not related to Vue-Form-Builder@2.0.0
Thanks.

[2020-08-15 04:03] #24 closed

[2020-08-15 04:03] #35 closed

[2020-08-31 20:25] Diaskhan opened #43 "Tabs support"
There any possibility to add tabs support ?

For example I want add 3 tabs.
And in each tab add 3 sections !

I have seen a couple form builders, the all without tabs support!

[2020-09-01 13:00] sethsandaru commented on #43
Hi @Diaskhan ,

Thanks for the suggestion. Tab View is actually good and it always been in my head. But since we had 2 section views (normal & collapse-able), I couldn't see how I gonna design for the Tab View (structural, behaviour,...). I gotta think about it before I making it :D

[2020-09-01 13:51] Diaskhan commented on #43
Its very simple!
Every container must have children collection!
Childrens(item1, item2)

There must be a flag for container element!

Contatiner could have container inside !

[2020-09-02 12:32] abhimanusharma opened #44 "Please close the current active sidebar before opening another"
Hi there,

I am getting "Please close the current active sidebar before opening another" toast error message even when sidebar is already closed.

[2020-09-02 14:06] abhimanusharma opened #45 "styles.js is not setting default class for buttons generated by formbuilder"
Generated input text boxes are taking classes I set in plugin options as referenced in styles.js file.
but generated buttons are taking bootstrap classes by default.

[2020-09-03 14:12] abhimanusharma opened #46 "Error in created hook: "TypeError: Cannot convert undefined or null to object""
When I load this on a modal using @click this error show in console.

[code]
[code]

[2020-09-04 04:33] sethsandaru commented on #44
Hi friend,

IMO, it looks like a problem when we open/close the sidebar too fast and cost the EventBus an un-updated data. Could you try to save your form and try again?

It would really nice if you can provide me some screenshots, video (from the beginning to the problem).

Thanks

[2020-09-04 04:34] sethsandaru commented on #45
Hi friend,

You mean you want to use specific button classes instead of Bootstrap?

[2020-09-04 04:37] sethsandaru commented on #46
Hi friend,

Please provide the error on console, a full snippet of your component, where you are using the Vue Form Builder. Since the `FormBuilderModal` is not the Vue Form Builder' component.

For me, it looks like it's a problem from your internal project, not Vue Form Builder.

[2020-09-12 05:24] sethsandaru commented on #46
There has been a week but no more detail yet. I'll close this issue. Feel free to re-open it again with more information.

[2020-09-12 05:24] #46 closed

[2020-09-12 05:24] sethsandaru commented on #45
There has been a week but no more detail/comment from you yet. I'll close this issue. Feel free to re-open it again with more information.

[2020-09-12 05:24] #45 closed

[2020-09-12 05:24] sethsandaru commented on #44
There has been a week but no more detail/comment from you yet. I'll close this issue. Feel free to re-open it again with more information.

[2020-09-12 06:11] abhimanusharma commented on #44
I think this happen when I opened a sidebar, then clicked on another setting icon, it keeps the state open of previous opened sidebar, now even if I close a sidebar, then the sidebar(config) I opened in the beginning have the state open/active. Same issue is on demo url of this package documentation.

[2020-09-16 00:50] raphaelarias opened #47 "Possibility for users to fill up certain groups multiple times"
First of all, an outstanding package, congratulations.

Is it possible to do in the current package (or add to the package) a way for the users to fill up certain groups of fields multiple times?

For example, if we want to collect previous job experiences, we don't know how many they have. Something like this:

![image](https://user-images.githubusercontent.com/5008166/93279174-92e62c00-f794-11ea

[2020-09-16 05:22] sethsandaru commented on #47
Hello @raphaelarias ,

Thanks for the compliments. I very appreciate that.

In theory, it would be possible to fill up. I assume you have the data already, then just simply pass it to the `v-model` of Vue Form Builder. Therefore, the form will be filled up to certain fields based on your need.

Let me know if it can't work like that (also, more detail would be great)

Thanks.

[2020-09-17 06:02] abhimanusharma opened #48 "Sidebar is not working properly in responsive mode"
Sidebar is not opening properly in responsive mode, all the css is same as in demo. Also close button is not working in responsive mode.

![form builder error3](https://user-images.githubusercontent.com/5707050/93426296-5ff98080-f8d9-11ea-8e82-e1e3a94a29ce.png)

[2020-09-18 04:13] sethsandaru commented on #48
Hi @abhimanusharma ,

I would suggest this: don't configure your form in Mobile view. It doesn't make any senses to do it because the screen is too small,... It would cost a lot of your time also. When you're working on the desktop view, it would be faster.

But the `FormRenderer` is working fine for responsive mode.

Thanks. I'll close this ticket, feel free to open again.

[2020-09-18 04:13] #48 closed

[2020-09-21 23:06] VinceSanityyy opened #50 "Drag and drop"
There is no drag and drop functionality in the demo or in the UI

[2020-09-22 02:17] abhimanusharma commented on #50
@VinceSanityyy  You can not drag and drop controls from sidebar to the section but you can drag and change the position of controls to move the to another section or exchange the position with another control of the same section.

[2020-09-22 05:04] sethsandaru commented on #50
Hello @VinceSanityyy

Please consider reading the documentation to see where's the drag and drop functionality you can use. Here is it: https://phattranminh96.gitbook.io/vue-form-builder/getting-started/form-builder-starter

P/s: @abhimanusharma thanks for your answer. You're right!!

[2020-09-22 05:04] #50 closed

[2020-09-22 08:06] vosaan opened #51 "Form Builder is not appearing in Laravel Nova Tool"
Helo. I want to use your Form Builder with Laravel Nova Tool. My steps:
1. `npm i v-form-builder --save`
2. My tool code:
[code]
But page is still empty and no errors in console:
![Screenshot_3](https://user-images.githubusercontent.com/13124555/93857628-8f3a3400-fcc3-11ea-9ff4-6c46735252ff.jpg)

[2020-09-22 08:34] abhimanusharma commented on #51
@vosaan Have you initiated the formbuilder plugin options in your main file correctly.

As mentioned in the documentation: https://phattranminh96.gitbook.io/vue-form-builder/getting-started/turning-up-the-form

[code]

I think after this everything will work fine.

[2020-09-22 09:45] vosaan commented on #51
I'm sorry. I'm new with Vue and Nova. So, I have only two files with JS in 'resources' folder:
1. tool.js with content
[code]
2. components/Tool.vue (content in my question)

In which one do I need to add the code?
![Screenshot_4](https://user-images.githubusercontent.com/13124555/93867191-5bfea180-fcd1-11ea-959e-b38fc3be1848.jpg)

[2020-09-22 10:13] abhimanusharma commented on #51
@vosaan If you can share your code on git that will be very helpful to resolve your issue.

Try doing this in tool.js file

[code]

Let me know if it resolve your problem.

[2020-09-23 01:31] raphaelarias commented on #47
Hello @sethsandaru

In this case, we don't have the data, but it would be nice to give the user the option to add this type of field, so when the end-user is filling up the form, they can click a + button to add more fields (or group of).

[2020-09-23 03:39] abhilashdonepudi opened #52 "Unable to add controls to online demo"
I am might be doing something wrong. Is there a specific way to add controls to the form ? Is there a video somewhere of the demo ?

I am using following demo.

https://vue-form-builder.herokuapp.com

[2020-09-23 03:57] abhimanusharma commented on #52
@abhilashdonepudi Follow below steps:

1. Click on **⊕ Add Section**
2. Click on **Normal Block**
3. Then click on **⊕ Add Control**
4. Now from _Choose your control_ sidebar Click on any control
for example **Input field**. Fill you configuration and click "Save and close".

Following these steps you can easily add any control you want in the demo.

[2020-09-23 04:20] abhilashdonepudi commented on #52
I was trying to drag the control instead of simple clicking it. So, dragging doesn’t work ?

[2020-09-23 04:23] abhimanusharma commented on #52
@abhilashdonepudi Please refer [Drag and Drop](https://github.com/sethsandaru/vue-form-builder/issues/50)
to see the available options for drag and drop.

[2020-09-23 05:03] sethsandaru commented on #52
Hello @abhilashdonepudi ,

For the @2.0.0, the Vue Form Builder's controls can't be drag into the container. You have to click it in order to add a new control into a Section.

P/s: Thanks @abhimanusharma for the answers!

I'll close this issue, feel free to re-open if you have more issues related to this!

[2020-09-23 05:03] #52 closed

[2020-09-23 13:50] dhimiterbundo opened #53 "Dropdown component - not making any api call when render form"
I add a dropdown control with rest request pointing to my local api http://localhost:3000/dropdown-values and on form render it throw this error
**_vue.runtime.esm.js?2b0e:1888 TypeError: [Dropdown] Rest-API Endpoint must be valid http/https URL._**

[2020-09-24 04:56] sethsandaru commented on #53
Hello @dhimiterbundo ,

Please provide the configuration of the dropdown datasource. Also the result-data of your API. Thanks

[2020-09-24 04:59] sethsandaru commented on #47
Hello @raphaelarias ,

Ahh, I know what you want now. It's actually a feature from the Vue-Form-Builder@1.x.x (I called it as **Dynamic Section**) which basically let the users to +/- the same section to input more data.

For @2.0.0 it hasn't had that feature yet. I'm still thinking of a good approach to make that happens. At least @2.2.0, it should be available.

Thanks.

[2020-09-24 07:45] vosaan commented on #51
@abhimanusharma My attempts
1.
[code]
![Screenshot_5](https://user-images.githubusercontent.com/13124555/94115161-04d40a80-fe52-11ea-92f4-3fa1bbdec7b8.jpg)

2.
[code]
![Screenshot_6](https://user-images.githubusercontent.com/13124555/94115484-77dd8100-fe52-11ea-862c-079be0e2ddca.jpg)

Ufortunately, I'm not owner of project so I can't share code

[2020-09-24 08:39] abhimanusharma commented on #51
@vosaan Try this.

[code]

[2020-09-24 09:02] vosaan commented on #51
Ufortunately result is the same like in my attempt number 2. I think this is a specific question of Laravel Nova. But I have one more Tool with "@fullcalendar/vue" component and it works fine. Anyway, thanks for your time

[2020-09-24 10:09] abhimanusharma opened #54 "Invalid prop: type check failed for prop "formConfiguration". Expected Object, got Null"
Form is rendering but, getting below error in console.

[code]

My code is:

[code]

[2020-09-24 15:09] dhimiterbundo commented on #53
hello @sethsandaru
this is the dropdown configuration:
[code]
 And this is the response from api call:

[code]

[2020-09-25 04:16] sethsandaru commented on #53
Hello @dhimiterbundo ,

Thanks for the full detail. I'll look into this!

[2020-09-25 04:24] sethsandaru commented on #54
Hello @abhimanusharma ,

I believe the warning message said it all: `Expected Object, got Null`. Could you please try to use the [Vue-Devtool](https://github.com/vuejs/vue-devtools) to see the exact data from your component?

And I do believe if you set the object like this: `this.formData = ...` => Not reactive. To re-set an object, best thing we should do is using `$set` of Vue, example here: ht

[2020-09-25 05:47] abhimanusharma commented on #54
From vue-devtool this is the exact data:

[code]

For both `this.$set(this, 'formData', JSON.parse(response.data.Form.form_data.data));` and `this.formData = JSON.parse(response.data.Form.form_data.data);`

Error remains the same.

[2020-09-25 07:42] abhimanusharma opened #55 "File upload control is not present in controls list."
I see file upload control was in the todo list of 2.0.0 but it is not present in the current version.
I can't find new todo list for current version and upcoming version as there is no new dev branch present.
Tag for version 1.x.x is also not present (need for learning purpose).
I can add that using some 3rd party package and custom control plugin option but that might cause some compatibility iss

[2020-09-25 08:17] sethsandaru commented on #54
Thanks for the info, let me test it to see what's the problem

[2020-09-25 08:32] sethsandaru commented on #54
![image](https://user-images.githubusercontent.com/23478115/94244610-54463380-ff43-11ea-9b18-a6cc51f2fc20.png)

This is my test result (used your form data above). No error was shown.

I do believe **the retrieving data of your process** is behind the warning error. Please kindly check it again.

[2020-09-25 08:54] sethsandaru commented on #55
Hello @abhimanusharma ,

That was my original plan, but I have to postpone it because it's quite complicated and I haven't come up with a better approach to create File Upload control. Likes:

- Ajax Upload or normal file submit
- Preview (normal file, image,...)
- Validation
- Upload progress
- ...

I think I would develop a simple File Upload Control first for the @2.1.0 . Then improve it later

[2020-09-25 12:07] sethsandaru commented on #51
@vosaan as @abhimanusharma said, it would be great if you could share with us your code (some little part of your application) which can be booted up and run it from our side. So I can personally dive into it and maybe can help you. I'm a Laravel-guy too but never work with Laravel Nova before :D

[2020-09-25 12:14] abhimanusharma commented on #55
@sethsandaru I think this [File uploader documentation](https://lian-yue.github.io/vue-upload-component/#/documents) provides complete customization of file upload. In example tab we can see the options button which can provide the type of customization we need in this form builder from frontend. You can check this out [vue-upload-component](https://github.com/lian-yue/vue-upload-component).

[Wat

[2020-09-25 13:46] sethsandaru commented on #55
@abhimanusharma Thanks for the suggestion. I checked this: https://bundlephobia.com/result?p=vue-upload-component@2.8.20 and quite ok for me. Seems like it's not a very big deal to put it in Vue Form Builder.

[2020-09-25 14:54] sethsandaru commented on #53
Okay, 100% is a bug from the logic that I made. More detail here:

https://github.com/sethsandaru/vue-form-builder/commit/f2a0301e19eb42ca106a6499dce30c4f2e68b64b#diff-9fc44001afef0c8e62cb509fec58429bL85-L88

The fixes will come up soon, it will be on @2.0.1. Thanks. I'll let you know when it's released.

[2020-09-27 04:17] harrieanto opened #57 "Duplicate control when add new control after delete section and then set it again"
I try your vue form builder and it's totally awesome. Thankyou. But I have found an issue when I try to set form from default template. The issue is when I delete section and then set it back from the template and then I try to add new control the Vue form builder seem create multiple/duplicate control. It would be great to fix it. Thankyou.

[2020-09-28 06:53] sethsandaru commented on #57
Hello @harrieanto ,

Thanks for the compliment.

For the problem that you approached, it would be really helpful if you can provide me:

- The Form Configuration JSON
- More detail about how to reproduce the problem (Screenshot/A short clip would be really helpful).
- (Optional) Create a simple live demo of your application.

Thanks

[2020-09-28 06:54] sethsandaru commented on #54
It's been 3 days without any comments. I would like to close this issue. If you have any further detail or issue related to this, feel free to reopen it. Thanks

[2020-09-28 06:54] #54 closed

[2020-09-28 06:55] sethsandaru commented on #51
It's been 3 days without any comments. I would like to close this issue. If you have any further detail or issue related to this, feel free to reopen it. Thanks

[2020-09-28 06:55] #51 closed

[2020-09-28 16:05] abdullahcanakci opened #58 "External Form Validation"
Hi, I'm trying to implement a dynamic form system for third party users to use not by devs. This is important because I can't be sure that the users fill the form configuration "Form-TAG Action URL"  or do it correctly.

Because of this reason I circumvented the default use style and added my own submit button around the package to have a handle on the formInputs provided. But I'm a bit lost on ho

[2020-09-29 02:25] sethsandaru commented on #58
Hello @abdullahcanakci ,

To triggering the form validation process, you have to create a button inside your Form (https://phattranminh96.gitbook.io/vue-form-builder/getting-started/controls#button). Please check the "Run validation before emitting?" option in order to let the Validation run when users clicked the button.

It was my bad to not mention it in the Validation section on the documentat

[2020-09-29 07:18] abdullahcanakci commented on #58
Thank you much appreciated.

[2020-09-29 07:18] #58 closed

[2020-09-30 14:35] jeffcj opened #59 "Vue 3 - Question"
Hello! Really like your solution here. Looks great! I'm about to use it for a new project and was wondering if you plan to support Vue 3.0 in a future release.

[2020-09-30 15:06] abdullahcanakci opened #60 "Disabling default component"
Hi, is there any way to disable a default component so it won't show up in the builder?

[2020-10-01 05:28] abhimanusharma commented on #55
@sethsandaru are you going to release this in the current version?

[2020-10-02 04:46] sethsandaru commented on #60
Hello @abdullahcanakci ,

Which components you are talking about? And why do you think it needs to be hidden?

[2020-10-02 04:49] sethsandaru commented on #59
Hello @jeffcj ,

Yes, of course, I'd love to. But I wouldn't do it for now. Since Vue 3 has just been released recently. Let it grow up more :D

[2020-10-02 04:51] sethsandaru commented on #55
@abhimanusharma No, @2.1.0 will be the version I included that control. I'm still gathering enhancement ideas for the @2.1.0
Looks promising so far :D

[2020-10-02 04:56] jeffcj commented on #59
Completely agree. Just seeing if this was a plan on your development roadmap. 🙂

[2020-10-02 07:35] abdullahcanakci commented on #60
Hi @sethsandaru,
It's a general question, not for a particular component.

Let's say the user implemented a custom control instead of a regular one with extra logic or, functionc etc. instead of a regular one. It might be beneficial to show only one of them just for a use case.

The reason I'm interested in such feature is I implemented my own submit interaction outside of the form builder instanc

[2020-10-09 12:18] devla opened #61 "Support for vue material"
Hey bro!

How complicate would be to switch to vue material instead of bootstrap? Give me some suggestion, advice.

Thanks in advance,
Vladimir

[2020-10-09 12:21] abhimanusharma commented on #61
@devla It is already available in v2.1.0, It will be available soon. See #49

[2020-10-09 12:45] #53 closed

[2020-10-09 12:50] sethsandaru commented on #61
@abhimanusharma @devla  it's actually v2.0.1. And yes v2.0.1 is released. Please check it out.

Thanks

[2020-10-09 12:50] #61 closed

[2020-10-09 12:53] sethsandaru commented on #60
Hello @abdullahcanakci ,

Ah yes, I know what your idea now. Let me think for an approach. For now, you can make your own rules for your group and tell everybody doesn't touch to some specific components/controls.

Thanks

[2020-10-09 16:12] abdullahcanakci commented on #60
Thanks, I'm happy that I made myself at least understandable.
That what my current approach will be actually and remove any non-wanted fields in the backend.

Have a nice day :sun_with_face:

[2020-10-09 20:19] harrieanto commented on #57
Yes. Thanks for your fast response. I'll back here and provide what's needed as soon as possible.

[2020-10-12 06:24] abhimanusharma commented on #44
@sethsandaru Hi, I am getting this error in the console. `https://www.loom.com/share/9005874690b74d49b5f37527dec8462b`

[2020-10-12 06:40] abhimanusharma commented on #57
@sethsandaru  I was facing similar kind of issue, so I have prepared a clip to showcase the issue `https://www.loom.com/share/87b888ed8afb41759e105d73506ac467`

[2020-10-13 03:36] sethsandaru opened #62 "@2.1.0 development"
Included so far:
- File Upload Control #55
- Tabs View #43
- Role-based Permissions for the Form

[2020-10-13 12:51] osmelg opened #63 "Why i cant get the css styles?"
in main.js
import {VueFormBuilderPlugin} from 'v-form-builder'
import 'v-form-builder/dist/v-form-builder.css' //load CSS from your App
Vue.use(VueFormBuilderPlugin, options)

Then in the Component
FormBuilder v-model="configuration"></FormBuilder

The styles of the FormBuilder doenst show well
![Untitled](https://user-images.githubusercontent.com/15698737/95878686-7e6d6300-0d43-11eb-99a5-e9c370f5

[2020-10-14 03:11] sethsandaru commented on #63
Hello @osmelg ,

I think I didn't mention it in the Documentation but you have to **import** your own **Boostrap 4/Material CSS** before the `v-form-builder.css` in order to see the styling.

I didn't and don't want to import the whole Bootstrap/Material into the Vue Form Builder because:
- It doesn't make sense since everybody's projects should have their own CSS already, why import more.
- It ma

[2020-10-14 03:11] #63 closed

[2020-10-14 16:04] sethsandaru commented on #44
Hello @abhimanusharma ,

Thanks for the info, let me check it.

[2020-10-21 07:23] harrieanto commented on #57
@abhimanusharma exactly like that

[2020-10-21 07:40] abhimanusharma commented on #57
@sethsandaru I think the label should be changed to bug.

[2020-10-22 05:19] abhimanusharma opened #64 "Question: Can we have a default submit button for generated form?"
Hi,

I see many users don't create a submit form and don't have a idea to put form action.

Can I set a default Form action and a submit button?

By doing this the form will not only be limited for developers but any general user can create a form.

Or We can also make a validation so that a submit button and form action is required per form.

[2020-10-26 17:57] Sefux opened #65 "Adding custom controls"
Hi @sethsandaru,

great project, thanks for creating it. I am using V2.0.1

I am having problems adding custom controls. I tried to follow your instructions from [here](https://phattranminh96.gitbook.io/vue-form-builder/extending/create-new-control). I can see my new control in the sidebar, but when i click to add i am getting this error:

**Failed to mount component: template or render function n

[2020-10-26 18:34] Sefux commented on #65
never mind, i found a way to include the control/config.

in the registration options i switched from using "require" to an "import" statement. Now it work's.

[2020-10-26 18:34] #65 closed

[2020-11-09 05:46] abhimanusharma opened #66 "Datepicker not working on render"
This is the error in console.

[code]

[2020-11-11 09:11] abhimanusharma opened #67 "Read only form renderer"
Hi,

We can save form builder configuration and render the form using saved configuration data.
We can use v-model="formInput" to render the saved form data, but is it possible to make it read only. So that user can not update the value of form-Input.

[code]

OR

[code]

[2020-11-12 08:34] sethsandaru commented on #64
Hi @abhimanusharma ,

From my beginning ideas of the Vue Form Builder, I don't want to depend on to the browser validation (like `<input required`). It's great to use the Validation built-in in the Vue Form Builder and we should use it. Let the JS does it jobs.

I don't know what is your approach for the `<form>`, but Vue Form Builder does offer you a way to wrap the `<form>...</form>` outside. Cr

[2020-11-12 08:34] #64 closed

[2020-11-12 08:37] sethsandaru commented on #67
Hi @abhimanusharma ,

Looks great. But I think I would like to do the "readonly/disable" like below:

[code]

It would be more flexible for the Form Renderer too. Would add this one for @2.1.0.

Thanks

[2020-11-12 08:38] sethsandaru commented on #66
@abhimanusharma Could you share the steps to reproduce?

[2020-11-12 10:57] abhimanusharma commented on #67
Awesome. Let's do this 🤩

[2020-11-12 11:10] abhimanusharma commented on #66
Fixed: The issue was causing due to setting default value for date property and formatted the date in particular format. After removing default value from form builder configuration, the error was gone.

[2020-11-12 11:10] #66 closed

[2020-11-12 12:15] abhimanusharma opened #68 "Suggestion: Add an example of emitting code for button"
Hi,

I was looking at: http://vue-form-builder.sethphat.com/form-config

Instead of making post request with form action I want to post the formInput via emitting method.

I have done:
![emit-code-form-builder](https://user-images.githubusercontent.com/5707050/98938583-21b1c380-250e-11eb-8623-c289a480ed9c.png)

Trying to emit that method like:
![form-render-emit-code](https://user-images.githubuse

[2020-11-13 05:37] abhimanusharma opened #69 "Undefined message on validation error"
Hi,

When I have set validations (required) for few fields, instead of showing some message like *Fix errors before submitting* or something like this so that if there is a long form user can still see why isn't the form submitting instead I see an undefined message on the top right corner.

See attached screenshot.
![Undefined error](https://user-images.githubusercontent.com/5707050/99032687-33dc

[2020-11-20 06:04] sethsandaru commented on #69
Hi @abhimanusharma ,

I found out the problem. Basically, it's from here:

https://github.com/sethsandaru/vue-form-builder/blob/master/src/installer.js#L47

If you replaced the `properties` project when you're registering Vue Form Builder `Vue.use(..., {...})`. Then you need to add the `validationErrorAlertText` also. I forgot to `Object.assign` from the default one. But there won't be problem for

[2020-11-20 06:04] #69 closed

[2020-11-20 09:54] abhimanusharma commented on #69
Hi @sethsandaru , I have created a PR #70 for this issue. Please check it out.

[2020-11-24 08:53] abhimanusharma opened #71 "Validations from deleted sections are still showing validationErrorAlertText"
Hi,

I created two sections and added validations to the fields in both sections, then I deleted 1 section and saved the configurations. The deleted section is now removed from the configuration and so is no more showing in the Form Renderer.

Still when I try to submit the form passing all the validations, or even now remove validation from remaining section, Error alert still show and not lettin

[2020-11-24 12:30] abhimanusharma commented on #53
@sethsandaru Trying to make api request to 3rd party api `https://support.travelpayouts.com/hc/en-us/articles/203956163-Travel-insights-with-Travelpayouts-Data-API#data_of_city`

**In form config:**
Value Key of your Object : name
Text Key of your Object : name

Getting error:
[code]

Along with:
[code]
and
[code]

and

[code]

[2020-11-26 09:35] abhimanusharma opened #73 "Unable to load data submitted data on formRenderer using v-model"
Hi,

my formInputData = {
"test": "test value"
}

This is my render html
[code]

Form render is opening but previous submitted data is not populating on the fileds.

[2020-12-10 09:41] jomskidoodle commented on #44
![image](https://user-images.githubusercontent.com/2435077/101754638-eacfcd00-3b0e-11eb-831d-afad908ba38c.png)

I love this plugin exists, implemented it in nuxt and it looks great!
 I have a question though, do you guys any ways to handle this one?

And also, once the sidebar has been show, is there any way that I can close or exit the sidebar?

[2020-12-23 02:20] harrieanto commented on #57
@sethsandaru @abhimanusharma Hi all, Already have solusiton for the issue?

[2020-12-23 03:45] abhimanusharma commented on #57
@harrieanto , It is still under progress, hope we will get it on new year.

[2020-12-23 08:37] mehmetcansahin commented on #55
We are excited for upload control.

[2021-01-15 18:53] tqsoft opened #75 "submit form configuration"
hi
great form builer, really fully featured.

2 questions i have:
1. i haven't found in the doc how to submit the form configuration or how it create a json object i can use on my server side
2. is it possible to integrate signature pad plugin like https://www.npmjs.com/package/vue-signature-pad ?

[2021-01-18 07:46] RobertoMaurizzi commented on #59
Any updates regarding Vue 3 support? Are you doing anything about it?
Would it make sense for me to fork, create a 3.0.0 branch then start to see what porting everything means?

[2021-01-21 06:34] abhimanusharma opened #76 "Copy/duplicate form control"
Can we expect the option to copy a control in a form builder section as there as many control fields which have mostly all information same. for example: first name and last name. all type, validations, classes for these form controls are same.

Just like this: https://formbuilder.online/

[2021-01-21 07:01] abhimanusharma opened #77 "Suggestion to open control setting after adding it to a section"
When we add a control to a section it is obvious to make changes in the control. Can we have the control setting sidebar to open instant it added to a section? It will reduce the form building time.

[2021-01-21 09:30] abhimanusharma opened #78 "Getting error for regex validation"
Hi,

I am putting this regex for amount with decimal points. **\d+(\.\d{1,2})?**

I am getting this error.
![regex validation](https://user-images.githubusercontent.com/5707050/105331323-540c2b00-5bf9-11eb-9f74-2f10731abfce.png)

[2021-01-23 06:44] sethsandaru commented on #75
Hello @tqsoft ,

1. Please visit my documentation: https://phattranminh96.gitbook.io/vue-form-builder/getting-started/save-form-configuration or [this repository](https://github.com/sethsandaru/demo-vue-form-builder) to find out more how to save the JSON Form Configuration
2. Yes, you can follow this documentation page: [Create Custom Contro](https://phattranminh96.gitbook.io/vue-form-builder/exte

[2021-01-23 06:44] #75 closed

[2021-01-25 05:18] abhimanusharma opened #79 "Adding drag drop functionality instead of click on control sidebar"
Hi,

Designing the form using this form builder is very efficient, its just that in smaller screen and responsive scenario add section button hides in the bottom. Also listing control in sidebar taking so much space, we can replace them with icon to make it look more compact.

Here is an example of better UI aspect of future of vue-form-builder https://github.com/unlayer/vue-email-editor
Adopting

[2021-01-25 09:10] abdullahcanakci opened #80 "Validation regex not available"
Hi,
I tried to set a regex validation on a field as per documentation. But I think either code or documentation is erronous on that matter.

There is a regex validation available on fields as per this ref.
https://github.com/sethsandaru/vue-form-builder/blob/b16f3e2d4436603c7f3089f3e8d45e3d24c50f4e/src/configs/validation.js#L40-L47

But because there is no corresponding branch here it throws an er

[2021-01-25 10:27] abhimanusharma commented on #80
Copy of #78

[2021-01-27 15:52] jomskidoodle commented on #73
same problem here? any solution in this one?

[2021-01-27 17:20] abhimanusharma commented on #73
unable to pre populate data on formrenderer.

[2021-01-27 17:25] jomskidoodle commented on #73
will follow this. I have the same problem. checking on FormRenderer props it's removing the values on the v-model when binded. =(

[2021-01-31 19:04] Dontorpedo opened #81 "formbuilder localization"
hi,

do you plan or is it possible to localize the form builder? i didn't find any language files :(

thx

[2021-02-10 12:25] LucasPanetto opened #82 "How translate elements"
Hello, I have doubts regarding the translation of the texts, I have not found material on this topic.

[2021-02-12 14:48] LucasPanetto commented on #82
solved this problem by creating a fork of the project, and implementing the method responsible for translating texts from i18n, added the library to the project and created a new library of it all. Then, I imported this new library into my main project, and there I define the translation object.

[2021-02-12 14:48] #82 closed

[2021-02-13 06:47] abhimanusharma commented on #82
@LucasPanetto Can you create a PR so that this feature can be included in the main project?

[2021-02-14 02:32] sethsandaru commented on #81
Hey @Dontorpedo ,

Yes but not for now. The plan of Localization/Translatable Form is in v2.2.0

For now, you can do another approach like this: Create a Form for a specific Language, eg:

- Form A (EN)
- Form B (DE)
- Form ...

It's too bad because we need to maintain a lot of form. But in the future, when the feature arrived, you only need to translate your fields, sections again in 1 form.

Tha

[2021-02-18 11:16] LucasPanetto commented on #82
@abhimanusharma i can't make this now because that implementation require call i18n method in every local with texts.
And now I'm waiting for definitions to finish the feature in my fork.

[2021-02-23 00:35] eliveltonrangell commented on #65
Hi @Sefux, I'm with the same problem also in my project, using the latest version (2.0.1).
I tried to change the imports statement but doesn't work for me.
In time, Thanks for creating this great project @sethsandaru!

[2021-02-23 14:54] Sefux commented on #65
Hi @eliveltonrangell ,

not quit sure what is not working for you, but to be more specific...

in your main.js|ts file you include something like this:

[code]
The last line is where the require-statement should be changed to an import-statment:

[code]
You have to do the same for the configComponent.

hope it helps you... probalby you write here if that is the case, then documentation should be u

[2021-03-05 03:47] sethsandaru commented on #62
Tabs View is ready.
Limitation: Should only use 1 tab view per form

[2021-03-05 03:56] abhimanusharma commented on #62
Waiting for file attach/upload feature. ;)

[2021-03-05 05:16] sadortun opened #83 "Render without form elements"
Hi @sethsandaru

/cc @abhimanusharma

I really like your project !

In a similar fashion as #67 that propose a read-only mode, how would you feel about having a "not-a-form" mode ? ( aka: just render the structure, without the form elements)

I would like to be able to render the same page either as:
- a form
- a read-only form
- a normal page

Would you be interested in a PR?

Have a nice day,
Sa

[2021-03-10 22:20] sadortun opened #85 "Remove control types"
Hi,

We have a special case where we need to remove certain types of controls. Would you be interested in a PR that add this option to the `install` ?

[2021-03-18 03:01] sethsandaru commented on #62
Role-based permission is ready too.

Now I'll go through the issues and fixing bugs (if any)

[2021-03-18 03:10] sethsandaru commented on #83
Hey @sadortun ,

As far as I can understand, you want to have a form but not render the form elements like this:

- First Name: ABC (no `input`, only show up ABC which is the value)
- Last Name: XYZ
- ... (and so on)

Do I get it right?

[2021-03-18 03:13] sethsandaru commented on #44
Hi @jomskidoodle ,

Does your problem still around? Could you please create a new issue regarding your problem? (with all the information like your initialize code, your form structure,...)

[2021-03-18 03:24] sadortun commented on #83
@sethsandaru yep, exactly.

The idea is to have the rendered form have the same layout as the non-editable data.

Since my original post, I did think a  way to do this without having to re-write everything and I ended up creating a custom control that allow me to toggle normal/editable modes.

It solves the issue quite nicely

[2021-04-02 08:46] sethsandaru commented on #78
@abhimanusharma Thanks, the reason is, I forgot to implement it :p.

Added it in v2.1.0

[2021-04-02 08:47] sethsandaru commented on #62
#78 will be included

[2021-04-02 09:05] sethsandaru commented on #62
v2.1.0 released. Thanks, everyone!

[2021-04-02 09:05] #62 closed

[2021-04-02 09:05] #78 closed

[2021-04-02 09:05] #43 closed

[2021-04-02 09:05] #55 closed

[2021-04-02 09:08] sethsandaru commented on #85
Hi friend

Looks cool, I'll add it for the next patch version.

[2021-04-02 09:09] sethsandaru commented on #60
I think I will close this because the Role-based permission is released in v2.1.0. Feel free to open it again.

[2021-04-02 09:09] #60 closed

[2021-04-02 09:10] sethsandaru commented on #80
Thanks, v2.1.0 is released and added the regex validation. Documentation coming soon!

[2021-04-02 09:10] #80 closed

[2021-04-02 09:11] #81 closed

[2021-04-02 09:13] sethsandaru commented on #83
@sadortun I think it's actually a good feature that we should have. And yes, custom controls work well for that too.

I think it would be good if we have an option like `<FormRenderer :read-only="true|false" .../>`

Will add this one to the backlog. Thanks

[2021-04-05 04:17] sethsandaru opened #88 "v2.1.1 development"
## Features
- [x] #85 disable specific control(s)
- [x] Server-side validation
- [x] #83 Read-only Form (show data without form-control - like a preview mode)
- [x] #90 `type='password'` configuration for Text Input control

## Bugs
Dunno, let's see

[2021-04-05 04:29] sethsandaru commented on #88
## How server-side validation should work?

### Configuration
- In `Form Configurations`: enable and add your API Endpoint

### How it works
- Make a **POST** Request together with the Form Values to the configured API Endpoint

#### Request
[code]

#### Response if has errors
[code]

#### Response if no error
An empty JSON response should be good enough:

[code]

or:

[code]

[2021-04-06 02:29] raphaelarias opened #89 "Suggestion: use browser's datepicker for smaller bundle on supported browsers"
Hi!

What a great package you have developed! I've starred it! You may have considered already, but perhaps it would be possible to remove datepicker dependency (for supported browsers) and use the browser's own date picker. Perhaps even allow the user to choose what datepicker they want.

Cheers!

[2021-04-06 03:06] sethsandaru commented on #89
@raphaelarias This one actually was in my mind from the beginning of v2.0.0 (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date) but IE9 & Safari can't use it and we might need to use a polyfill script (https://github.com/jcgertig/date-input-polyfill) ~35KB

Let's compare:

- https://bundlephobia.com/result?p=date-input-polyfill@2.14.0
- https://bundlephobia.com/result?p=litepick

[2021-04-08 03:44] sethsandaru commented on #89
I'd like to close this issue since there is no response. Let us keep using the Litepicker, it's super cool!

[2021-04-08 03:44] #89 closed

[2021-04-08 14:50] sethsandaru commented on #88
@abhimanusharma I have a question regarding the Server-side Validation behaviour. Do you think is it a good idea to show a loading screen while the form doing the XHR request? Or it would be better if the form can disable the button after users pressed it?

[2021-04-09 01:28] mingyuen78 opened #90 "Is there a type="password" for input?"
Is there a type="password" for input? i cant seem to find it. guess i have to change the json output later.

[2021-04-09 05:16] abhimanusharma commented on #88
@sethsandaru Actually, I use both. I show a loader on the button and make it disable while the response is being retrieving by the XHR request. This gives a clear idea why the button is disabled and what is happening in the application also user can also see when the button is going to enable again, its when the loader will stop loading.

[2021-04-09 05:31] abhimanusharma commented on #90
@mingyuen78 There is no such type by default but you can add custom control using documentation. [See Example](https://phattranminh96.gitbook.io/vue-form-builder/extending/create-new-control)

[2021-04-09 07:04] sethsandaru commented on #88
@abhimanusharma That's cool, thanks for sharing!

[2021-04-11 11:57] sethsandaru commented on #90
@mingyuen78 @abhimanusharma I think it would be a good addition for `Text Input` control.

Let me add it in #88

[2021-04-14 07:02] sethsandaru commented on #88
On going for the last one - Read-only Form.

[2021-04-28 13:09] jomellelastrilla opened #92 "Text Block Support for HTML tags and/or Markdown"
Is there anyway that we can support html tags or markdown in text block when rendered in form renderer?

**Form Renderer:**
![image](https://user-images.githubusercontent.com/2435077/116408730-bebaab80-a865-11eb-8f56-350764a2e16b.png)

**Form Builder**
![image](https://user-images.githubusercontent.com/2435077/116408909-eb6ec300-a865-11eb-992a-a73890c5c553.png)

[2021-05-05 10:08] sethsandaru commented on #92
@jomellelastrilla Cool idea, thanks for your suggestion.

[2021-05-20 18:05] sadortun commented on #83
@sethsandaru I would recommend using another name than `read only` since it refer to actual fields be disabled or not.

This feature is more of a way to hide form controls completly.

Maybe :
- edit-mode=normal / readOnly / viewOnly
- view-only= true / false

[2021-05-21 09:59] loran750 commented on #82
@LucasPanetto hello, I'm interested in that PR. How is your fork ? is it public ? I think vue-form-builder should be compliant with i18n. It would be so great

[2021-05-21 12:10] LucasPanetto commented on #82
@loran750 hello.

My fork is private because I developed improvements on demand from my client, so it has a layout and sensitive rules.

In addition, I no longer have access to the code because I no longer serve this client.

But I tell you that it is not difficult to implement the i18n in the fork that you create.

[2021-05-23 15:28] abhimanusharma commented on #83
I like this Idea, I also had the similar use case but I had to do it manually.

[2021-05-26 15:45] jomellelastrilla opened #98 "vuetify UI support"
Is there a way that we can use or intergrate ui frameworks like vuetify in form renderer/builder?

[2021-06-28 00:22] Welfordian commented on #73
Any followup on this? I'm having the same problem.

[2021-06-29 05:09] abhimanusharma commented on #73
@sethsandaru bro what's the plan on this with new release?

[2021-07-09 19:47] 19peaches opened #102 "How to Access Child Component and Root Events"
How can I access the various events that are emitted by child components and the root component.

[code]

The only event I've been able to access so far is the `change` event on the main `FormBuilder` component.

This fires too often to use accurately to create and update form states and persistence.

I've tried to get the root events with both:

[code]

Neither one of these seem to catch the even

[2021-07-11 14:11] sethsandaru commented on #102
Hi @19peaches ,

If you want to listen to those events across the FormBuilder, you need to use the `$formEvent` instead, here is the demo:

https://github.com/sethsandaru/vue-form-builder/blob/master/src/views/builder/FormConfiguration.vue#L86-L89

Basically, it's just a Vue instance and standing there for the Event-Bus purpose (how the not-related component can communicate with each other)

Thank

[2021-07-11 14:11] #102 closed

[2021-07-11 14:13] sethsandaru commented on #98
@jomellelastrilla I suppose Vue Form Builder should work fine for both Bootstrap and Material Design.

I think you can try to see, we did add some additional classes to support Material, thanks.

Feel free to open this again if there is anything unclear.

[2021-07-11 14:13] #98 closed

[2021-07-13 00:55] 19peaches commented on #102
Great thanks, that helps with `root` events, but I'm still not able to listen to events emitted by child components.

Also, when loading up the component, I'm pushing the data saved in my Vuex store and database to the config, but it doesn't render the existing data to the builder?

When I open the sidebar from the FormConfiguration button, I see the data loaded in the forms, but it's not renderin

[2021-07-13 06:59] 19peaches commented on #102
Nevermind ... I think I've figured it out.

[2021-07-29 12:59] mkgn opened #103 "Feature : Option to limit what controls a user can have when building form"
Is there a possibility to hide certain controls from the designer? For example, I might not want to give the user access to a calendar/file uploder or something else. if there is a feature in global configuration that would be great. don't you think?

Looking at the current documentation it is not possible out of the box

[2021-09-12 12:53] meomkarchavan commented on #102
@19peaches Can you share the solution?

[2021-09-13 16:54] RBrothersBSI opened #106 "v-model "value" undefined"
Trying to get the actual values from the input types of the form. Looking through the code it should run updateValue($event.target.value) from the CONTROL_FIELD_EXTEND_MIXIN but in the Vue devtools "value" stays undefined. Any ideas?

[2021-09-13 17:27] #106 closed

[2021-09-18 11:52] #88 closed

[2021-09-18 11:53] #90 closed

[2021-09-18 11:53] #83 closed

[2021-09-18 11:53] #85 closed

[2021-09-18 12:00] sethsandaru commented on #103
@mkgn atm VueFormBuilder only has some basic permissions. Is this one really needed? Looks to me, like specific business requirements from your app.

In my opinion, the designer should be able to use all controls, if you don't want them to use some specific controls (because of any reason), then you can give them a note, which is totally better and VueFormBuilder doesn't need to add more checking

[2021-09-18 12:00] #103 closed

[2021-09-18 12:00] #34 closed

[2021-09-18 12:01] #44 closed

[2021-09-18 12:01] #47 closed

[2021-09-18 12:01] #67 closed

[2021-09-18 12:03] sethsandaru commented on #73
@abhimanusharma hey, long time, is the problem still around? I didn't get that. Could you please provide the steps to reproduce with your configuration? Thanks

[2021-09-18 12:05] sethsandaru commented on #76
Not sure in real life, we would really need to copy a whole Section? Many of my cases don't.

And also, we can't do that either because the fields need to have unique `key` names.

I'll close this ticket then, thanks.

[2021-09-18 12:05] #76 closed

[2021-09-18 14:03] abhimanusharma commented on #73
Sure will do it.

[2021-09-18 14:07] abhimanusharma commented on #76
We can copy the section, For example if I want to show 4-5 textboxes in 7 sections, then copy section button should copy the section design and fields either leaving the unique fields like id and value empty or adding "fieldname-1" numeric after the existing name. This should be a must have feature in real life scenario, as while we are testing the form builder we some times need to copy the field

[2021-10-12 11:36] zidingz opened #109 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@aravindd007) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best prac

[2021-10-17 13:29] Krobotechnologies opened #110 "Using custom css"
Please can you give a brief explanation on how someone can use this amazing tool. I know I have to import my CSS file as no CSS is currently showing, but I am having a problem going about that since I built my app UI with vuetify

[2021-10-17 16:26] karosaxy commented on #98
@jomellelastrilla please were you able to find a way to use vuetify framework?

[2021-10-21 12:27] karosaxy commented on #63
please can you give a guide as to how this can be done?

[2021-10-21 12:41] sethsandaru commented on #63
Hi all,

It works from my side and my demo projects. Please make sure that you guys have `css-loader` installed from your webpack

https://webpack.js.org/loaders/css-loader/

[2021-10-21 12:45] #109 closed, assigned to nobody

[2021-10-21 12:51] karosaxy commented on #110
ok thanks just seeing this, let me try it out. thanks a whole lot

[2021-10-21 15:25] Mahdi-Abbariki opened #111 "Localization"
Is there anyway to change the main language of library?
and also make it RTL?

[2021-11-23 16:38] Krobotechnologies opened #112 "Enforce field names"
Please @sethsandaru @phatsandaru  is there a way to enforce field names when building the form? I want to make sure users fill the unique field names before they can create the input field

[2021-11-24 02:35] sethsandaru commented on #112
@Krobotechnologies hi mate, you mean it needs to check if the `Unique Field Name` is existing or not before saving?

[2021-11-24 03:54] Krobotechnologies commented on #112
Yes please, I know if the user doesn't fill the unique name, it will use an id for the field but I want the user to always fill the unique name, so in my case, if the name is not filled then you create the field and an error message will be flashback to the user

[2021-11-25 05:48] sethsandaru commented on #112
@Krobotechnologies of course, thanks for the suggestion

[2021-12-04 13:42] JTrotta commented on #62
Is file upload control included?

[2021-12-07 05:43] abhimanusharma commented on #62
@JTrotta Yes it is there now.

[2021-12-07 12:17] JTrotta commented on #62
Cannot find in demo.

[2021-12-31 10:34] dvuckovic opened #113 "Impossible to turn off validation error alert"
Although [the documentation](https://phattranminh96.gitbook.io/vue-form-builder/extending/plugin-options#available-options) does make a reference of the `validationErrorShowAlert` option, any "falsy" values suplied for it will be ignored by the plugin. Effectively, this means the error alert can not be turned off.

To reproduce, try the following while installing the plugin:

[code]

A quick-n-dir

[2021-12-31 11:20] dvuckovic opened #115 "Custom validation closure does not exist and is bypassed"
Following custom validation closure tutorial in [the documentation](https://phattranminh96.gitbook.io/vue-form-builder/extending/validation#customclosure-func) results in a console error.

[code]

[code]

It seems like the custom closure is ignored, i.e. it doesn't get applied or is not reachable by the validator code.

[2022-01-01 18:14] JakeCarp commented on #59
1 year later, are there any plans for support? @RobertoMaurizzi did you happen to make any progress. It would be nice to use this package but I'd have to revert the whole project back to vue2 if I did.

[2022-01-27 13:37] karosaxy commented on #73
how do we submit the formInputData

[2022-02-01 20:08] d4rkr3pt0r commented on #92
@sethsandaru Any news on this feature? I need this too :)

[2022-03-07 10:24] spandana-priya1997 opened #122 "Unable to bind back values that were submitted previously to the rendered form."
was not able to bind FormValues that were stored previously.

[2022-03-07 10:27] spandana-priya1997 commented on #73
Facing the same problem.Please look into this issue.

[2022-03-08 09:18] araromirichard commented on #73
sad that up till now, no response on this issue

[2022-03-09 22:46] keqhash opened #123 "Dropdown API based values are not reflecting the selected value in renderer"
Steps to produce:
Create form with dropdown. this dropdown is getting its values from custom API.
![image](https://user-images.githubusercontent.com/29375974/157550678-62b46f21-6679-4adf-8f5f-e81e61d74d2f.png)

View form renderer and select any value from the values returned in the API.
Save the form any where you want.
Open the form renderer again by assigning the form configuration and the form

[2022-03-15 11:37] Adiconquerors commented on #122
Hi,

You can assign the previous data in **finally** statement. Example below:

[code]

[2022-03-23 16:25] MahmoudSaidHaggag opened #126 "Listen to event not working"
I am listen to emit event, but it not firing

with this code

(new Vue()).$on("my-event", value => {
        // handle form values, ajax here...
    })

[2022-03-24 14:07] KhaledOmara opened #127 "Browser Usage"
I've downloaded the files from dist folder, then added them in the browser.

I'm facing the error: Unknown custom element: <formbuilder> - did you register the component correctly? For recursive components, make sure to provide the "name" option.
Here is my HTML:
[code]

Here is my JS:
[code]

[2022-03-24 21:03] KhaledOmara commented on #127
@sethsandaru

[2022-03-24 22:14] KhaledOmara commented on #127
I figured it out.
The issue was in the component name in the template
change FormBuilder to form-builder
[code]
[code]

[2022-03-24 22:14] #127 closed

[2022-03-25 00:49] tunapiq opened #128 "Bugs"
Hello,

There are a few bugs that I noticed, I am hoping this would get resolved.

1. Under 'Button' Control Specific Configuration: there is an option for 'clear', I think this should be 'reset'. <button type="clear"></button> does not do anything in the form-renderer when 'Wrap <form> outside of the Form' option is used. <button type="reset"></button> works.

2. The new tab block feature in 2.1.

[2022-03-29 12:31] tommykamkcm commented on #73
@araromirichard I guess you need to make sure the `formData` is fully loaded before loading the `formInputData`
let's try the following and see if it works for you! (btw, it works for me)
[code]